 {% extends "FrontBundle::base.html.twig"%}

{% block title%}Maria Montessori{% endblock title%}

{% block content %}
   <a class="scrollToTop" href="#">
      <i class="fa fa-angle-up"></i>      
    </a>
 <section id="mu-course-content">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-course-content-area">
            <div class="row">
              <div class="col-md-9">
                <!-- start course content container -->
                <div class="mu-course-container mu-course-details">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="mu-latest-course-single">
                        <figure class="mu-latest-course-img">
                          <a href="#"><img src="{{('../../front/assets/img/maria.jpeg')}}" alt="img"></a>
                        </figure>
                        <div class="mu-latest-course-single-content">
                          <h2><a href="#">Maria Montesori</a></h2><span></span>
                          <h4 style="color:blue">Qui est-elle?</h4>
                          <p>
                            Une des premières femmes médecin en Italie, Maria Montessori (1870-1952), est amenée à s’occuper d’enfants dits déficients et elle est nommée directrice de l’école d’orthophrénie. Elle élabore une pédagogie basée sur l’observation de l’enfant du point de vue scientifique, psychologique et mental. En 1907 la première “maison des enfants” est ouverte à Rome.

                            <p>Son premier ouvrage “la pédagogie scientifique” est publié en 1910.</p>

                            <p>Elle expérimenta sa pédagogie avec des enfants de tous milieux sociaux, handicapés ou non, enfants de 3 à 6 ans puis de 6 à 12 ans. Elle a fondé une pédagogie basée sur le besoin de l’enfant de s’auto-éduquer en agissant par lui-même comme lorsqu’il a appris à marcher ou à parler, c’est-à-dire poussé de l’intérieur par un besoin vital de découvrir et de se découvrir. Pour répondre aux besoins des enfants d’agir par eux-mêmes, sans se comparer les uns aux autres, Maria Montessori a mis au point une gamme étendue de matériels pédagogiques concrets, précis, progressifs, en un seul exemplaire, que les enfants vont manipuler, chacun selon son rythme.</p>

                            <p>Très tôt cette pédagogie acquière la notoriété sur le plan international. Elle compte aujourd’hui plusieurs milliers d’écoles dans le monde. La pédagogie Montessori s’inscrit dans le courant des pédagogies nouvelles dites actives. 
                          </p></br>
                          <h4 style="color: blue">Montéssori, une méthode qui a fait ses preuves</h4>
                          On compte 22 000 écoles dans le monde, moins de 100 en France et le chiffre est en constante augmentation. Au Canada par exemple, les écoles Montessori sont intégrées au système public. Récemment, en Angleterre, la pédagogie Montessori a été adoptée dans plusieurs écoles primaires publiques avec des résultats significatifs.

                          <p>La pédagogie Montessori est une méthode d’éducation dite “ouverte” qui repose sur l’observation de l’enfant. Les enseignants ne sont pas considérés comme le point central de l’apprentissage; l’élève devient maître de son apprentissage, et l’enseignant doit simplement le guider.</p>

                          <p>Dans une étude menée en 2006, publiée dans la revue “Science”, les auteurs concluaient que les élèves Montessori affichaient un meilleur rendement dans les domaines d’apprentissage classiques, comme les mathématiques et le langage, ainsi que les aptitudes sociales. D’autres études indiquent que les enfants Montessori se classent bien au-dessus de la moyenne en ce qui concerne les “compétences générales”, comme suivre des directives, être ponctuel, écouter et être capable de s’adapter aux nouvelles situations.</p>

                          <p>Enfin, aujourd’hui cette méthode d’éducation permettrait également de trouver des solutions pour les enfants en difficulté d’apprentissage dans le cadre des troubles du langage oral, troubles du langage écrit, troubles d’apprentissage des mathématiques, dyspraxie, troubles de l’attention.</p></br> 
                          <h4 style="color: blue">Ils ont fait leurs études dans une école montéssori</h4>
                          <ul>
                            <li> <span>Serguei Brin et Larry Page, Fondateurs de Google</span></li><br>
                            <li> <span>Steve Jobs,Fondateur d’Apple</span></li></br>
                            <li> <span>Bill Gates, Fondateur de Microsoft</span></li><br>
                            <li> <span>Gabriel Garcia Marquez,Ecrivain</span></li><br>
                            <li> <span>George Clooney, Acteur</span></li><br>
                          </ul>
                        </div>
                      </div> 
                    </div>                                   
                  </div>
                </div>
                <!-- end course content container -->
              </div>
              <div class="col-md-3">
                <!-- start sidebar -->
                <aside class="mu-sidebar">
                  <!-- start single sidebar -->
                  <div class="mu-single-sidebar">
                    <h3>Articles</h3>
                    <ul class="mu-sidebar-catg">
                      <li><a href="#">Web Design</a></li>
                      <li><a href="">Web Development</a></li>
                      <li><a href="">Math</a></li>
                      <li><a href="">Physics</a></li>
                      <li><a href="">Camestry</a></li>
                      <li><a href="">English</a></li>
                    </ul>
                  </div>
                </aside>
                <!-- / end sidebar -->
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
 {% endblock content %}