{% extends "FrontBundle::base.html.twig"%}

{% block title%}Modalités d'inscription{% endblock title%}

{% block content %}
   <!--START SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#">
      <i class="fa fa-angle-up"></i>      
    </a>
  <!-- END SCROLL TOP BUTTON -->
 <section id="mu-course-content">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-course-content-area">
            <div class="row">
              <div class="col-md-9">
                <!-- start course content container -->
                <div class="mu-course-container mu-blog-archive">
                  <div class="row">
                    <div class="col-md-12 col-sm-6">
                      <article class="mu-blog-single-item">
                        <figure class="mu-blog-single-img">
                          <a href="#"><img src="{{('../../front/assets/img/inscriptions.jpg')}}" alt="img"></a>
                          <figcaption class="mu-blog-caption">
                            <h3 style="font-weight: bold">Inscrire son enfant</h3>
                          </figcaption>                      
                        </figure>
                        <div class="mu-blog-description">
                          <p>Un dossier d’inscription sera remis aux parents lors des journées Portes Ouvertes, où un agent administratif se tient à votre disposition pour vous aider au calcul du coût de la scolarité. Le dossier adminstratif devra être remis complet à l’agent administratif.

                          <p>La participation à un stage de sensibilisation est requise pour valider une inscription. Pour obtenir les dates des prochains stages pour les 6-12 ans, 3-6 ans et pour les 0-3 ans vous pouvez nous contacter à adresse@gmail.com.</p>

                          <p>Le dossier d’inscription est validé par la Trésorière et la Directrice.</p>

                          <p>Le contrat est signé et conservé par l’école, un double est remis à la famille. Une journée découverte est organisée pour les enfants de maternelle au mois de juin. Pour les enfants de primaire cette journée peut être  prévue avant la constitution du dossier d’inscription et la concrétisation de l’inscription.</p>

                          <p>La finalisation du dossier partie scolaire se fait autour de la rentrée scolaire (assurances et décharge pour amener et  venir chercher l’enfant à l’école, certificat de radiation…)</p>

                          <p>La date de rentrée de l’enfant est fixée avec les modalités de rentrée. Un courriel envoyé par la Directrice au mois de juillet détaille les modalités de la rentrée scolaire</p>
                        </div>
                      </article> 
                    </div>                  
                    <div class="col-md-12 col-sm-6">
                      <article class="mu-blog-single-item">
                        <div class="mu-blog-description">
                          <p>Pour en savoir plus sur les modalités d’inscription, vous pouvez consulter:</p>

                            <a href="https://www.ecole-montessori-savoie.fr/images/medias/pdfs/livret-accueil_2019-2020.pdf" style="font-weight: bold" target="_blank">Le livret d’accueil</a></p>

                            <a href="https://www.ecole-montessori-savoie.fr/images/medias/pdfs/bulletin-pre-inscription_2019_20.doc(1).pdf" style="font-weight: bold" target="_blank">Le Bulletin de pré-inscription</a></p>

                            <a href="https://www.ecole-montessori-savoie.fr/images/medias/pdfs/dossier-inscription-2019-2020-site.pdf" style="font-weight: bold" target="_blank">Le Dossier d’inscription</a></p>
                        </div>
                      </article>
                    </div>
                  </div>
                </div>
                <!-- end course content container -->
              </div>
              <div class="col-md-3">
                <!-- start sidebar -->
                <aside class="mu-sidebar">
                  <!-- start single sidebar -->
                  <div class="mu-single-sidebar">
                    <h3>Categories</h3>
                    <ul class="mu-sidebar-catg">
                      <li><a href="#">Web Design</a></li>
                      <li><a href="">Web Development</a></li>
                      <li><a href="">Math</a></li>
                      <li><a href="">Physics</a></li>
                      <li><a href="">Camestry</a></li>
                      <li><a href="">English</a></li>
                    </ul>
                  </div>
                </aside>
                <!-- / end sidebar -->
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
{% endblock content %}